// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

//$header-font-size: 1em;
//$header-padding-top: 1.5em;
//$header-padding-bottom: 1.5em;

<<<<<<< HEAD
//$max-width: 1350px;
=======
$max-width: 660px;
>>>>>>> f0d868f464e0458278905dbb968a46b4b6913b0b
//$indented-lists: true;

// Padding used for layout margins
//$pad-min: 18px;
//$pad-narrow: 25px;
//$pad-medium: 35px;
//$pad-wide: 55px;

// Sidebar widths used in media queries
<<<<<<< HEAD
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;
=======
$sidebar-width-medium: 0px;
$sidebar-pad-medium: 0px;
$sidebar-pad-wide: 0px;
$sidebar-width-wide: 0px;
>>>>>>> f0d868f464e0458278905dbb968a46b4b6913b0b
